doctype html
html
  head
    script(src="js/angular/angular.js")
    link(rel="stylesheet" href="css/style.css")
    script(src="js/app.js")
  body(ng-controller="PhoneListControl")
    div(ng-view)

