doctype html
html
  head
    script(src="js/angular/angular.js")
    script(src="js/angular-route/angular-route.js")
    link(rel="stylesheet" href="css/style.css")
    script(src="js/app.js")
  body(ng-controller="PhoneListControl")
    a(href="/login") login -
    a(href="/register") register -
    a(href="/angular") angular
    h1=title
    include includes/phone-list.jade

