doctype html
html
  head
    script(src="js/angular/angular.js")
    script(src="js/angular-route/angular-route.js")
    link(rel="stylesheet" href="css/style.css")
    script(src="js/app.js")
  body(ng-controller="PhoneListControl")
    .form_container
      h1=title
      form(method="post" action="#{action}")
          h2 usuario
          input(type="text" name="name")
          br 
          h2 password
          input(type="password" name="pass")
          br
          input(type="submit" value="#{accion}") 
          a(href="/delete") borrar

